<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumJavaSuite" parallel="true">
<listeners>
		<listener class-name="test.reportInterface.TestListener" />
	</listeners>
  <test name="JavaTest">
    <classes>
      <class name="examples.JavaTest1"/>
    </classes>
  </test> <!-- JavaTest -->
</suite> <!-- SeleniumJavaSuite -->
